/* Common css*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent1-color: #2196f3;
  --accent2-color: #ffffff;
  --button-color: #F5F4FA;
  --background-color: #2F303A;
  --button-active: #188CE8;
}

/* Global*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--accent2-color);
  letter-spacing: 0.03em;
  margin: 0;
}

.bug {
  background-color: red;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nodecoration {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;

}
.margin {
  justify-content: center;
}
.container-nav {
  align-items: center;
  width: 1170px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
}

/* Logo*/


.logo-common {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.site-nav .logo-black {
  color: #212121;
}
.footer .logo-white {
  color: #ffffff;
}
.logo-highlight {
  color: #2196f3;
  text-decoration: none;
}
.site-nav {
  display: flex;
  margin-right: auto;
}
/*.site-nav .item + .item {
  margin-left: 40px;
}
*/
.site-nav .list {
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 40px;
}


/* Site navigation*/
.site-nav .link {
  display: block;

  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link-gray {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent1-color)
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link-gray:hover,
.site-nav .link-gray:focus {
  color: var(--accent1-color);
}

.address-nav {
  display: flex;
}
.address-nav .item:not(:last-child) {
  margin-right: 50px;
  display: block;
}

/* Hero*/
.hero {
  text-align: center;
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
 }
.global {
  align-items: center;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}


.hero-title {
  color: var(--accent2-color);
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}


/* Section */

.arrange {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

}
.section-title-invisible {
  display: none;
}


/* Features*/
.feature-list {
  display: flex;
  margin-bottom: 94px;


}
.feature-list .item:not(:last-child) {
    margin-right: 30px;
}
.arrange .item:not(:last-child) {
  margin-right: 30px;
}
.arrange .member:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.feature-list .description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.staff {
  background-color: var(--button-color);
  padding-top: 94px;
  padding-bottom: 94px;

}
.staff .member {
  background-color: var(--accent2-color);
  padding-bottom: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.staff .image {
  margin-bottom: 30px;
}
.activity {
  padding-bottom: 94px;
}

.main {
  align-items: center;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

}
.staff .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  padding-bottom: 10px;
}
.staff .position {
  color: var(--secondary-text-color)
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  padding-bottom: 30px;
}

/* Button*/
.button-blue {
  cursor: pointer;
  color: var(--accent2-color);
  background-color: var(--accent1-color);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.button-blue:hover,
.button-blue:focus {
  background-color: var(--button-active);
}
.button-gray {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--button-color);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

}
.button-gray:hover,
.button-gray:focus {
  background-color: var(--accent1-color);
  color: var(--accent2-color)
}

/* Footer*/
.footer {
  background-color: var(--background-color);

  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.street {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent2-color);
  font-style: normal;
}
.address-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}
.address-contact:hover,
.address-contact:focus {
  color: var(--accent1-color);
}

.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

}
.portfolio-short {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
.images:nth-child(3n + 1) {
  margin-right: 30px;
}
.images:nth-child(3n + 2) {
  margin-right: 30px;
}
.button:not(:last-child) {
  margin-right: 8px;
}
.filter {
  margin-bottom: 50px;
  margin-top: 94px;
}


